*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'titillium web', sans-serif;
}

header {
    background-image: url(./projeto\ vertigo/imagens/bg-mobile.png);
    background-size: cover;
    height: 8.375rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

